// override
.btn-link:hover {
  color: $primary
}

.btn-link:hover .btn-text {
  width: 100%
}

.mobile .btn-link .btn-text, .tablet .btn-link .btn-text {
  width: 100%
}

.text-base:hover {
  color: $primary !important;
}

.btn {
  transition: .3s ease-out;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 19px 13px;
  letter-spacing: .1em;
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #141414;
  border-color: #141414
}

.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .15)
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #141414;
  border-color: #141414
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
  pointer-events: none;
  opacity: .5
}
