//
// user.scss
// Use this to write your custom SCSS
//
@import './user/sizing';
@import './user/space';
@import './user/accordion';
@import './user/bg-img-cover';

.img-responsive {
    width: 100%;
    height: auto;
}

.list-ordered {
    counter-reset: li
}

.list-ordered > li:before {
    content: counter(li, decimal-leading-zero) ".  ";
    counter-increment: li;
    color: #7fcbc9;
    margin-right: 4px
}

.list-ordered > li + li {
    margin-top: 8px
}

.list-marked > li {
    position: relative;
    padding-left: 12px
}

.list-marked > li:before {
    content: '';
    background-color: #7fcbc9;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.list-marked > li + li {
    margin-top: 8px
}

.loader {
    background: linear-gradient(-90deg, #eee 0%, #f9f9f9 50%, #eee 100%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 5px;
    height: 100px; /* Adjust height as needed */
    margin: 20px 0;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
