/*
 * Dashboard styles
 */
// Font
$font-size-base: .825rem;
$font-size-lg: .95rem !default;
$font-size-sm: .75rem !default;

// Navbar


// User variables
@import 'user-variables';

// Configuration & utilities
@import 'variables';
@import 'mixins';
@import 'utilities';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Layout & components
@import 'reboot';
@import 'components';

// Dashboard
@import 'dashboard/wrapper';
@import 'dashboard/navbar';
