.blog-post-meta-title {
  font-weight: 300;
  margin-bottom: 0;
}

.blog-post-meta-title + * {
  margin-top: 4px
}

.blog-post-limit-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.blog-post:not(.blog-post-grid) + .blog-post {
  border-top: 1px solid #e3e9ef;
  padding-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.blog-post {
  &:first-child {
    border-top: 0;
    margin-bottom: 1.75rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(sm) {
  .blog-post:not(.blog-post-grid) + .blog-post {
    padding-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

@include media-breakpoint-up(md) {
  .blog-post:not(.blog-post-grid) + .blog-post {
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.blog-post .blog-post-media {
  position: relative
}

.blog-post-media {
  & > a {
    display: block;

    & > img.img-fluid {
      width: 100%;
      display: block;
    }
  }

  audio {
    width: 100%;
    margin-left: auto;
    margin-right: auto
  }
}

.blog-post .blog-post-media-link .caption a {
  padding: .5em 1em .4em;
  display: inline-block;
  color: #fff;
  background-color: rgba(20, 20, 20, .9);
  font-size: 14px
}

@media (min-width: 768px) {
  .blog-post .blog-post-media-link .caption a {
    font-size: inherit
  }
}

.blog-post .blog-post-media-link .caption a:before {
  content: $ci-link;
  font-family: $icons-font-family;
  position: relative;
  top: -2px;
  left: -1px;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0
}

@media (min-width: 992px) {
  .blog-post .blog-post-media-link .caption a:before {
    font-size: 34px
  }
}

.blog-post .blog-post-media-link .caption a:hover {
  background-color: rgba(127, 203, 201, .9)
}

.blog-post .blog-post-caption {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1
}

.blog-post-grid .blog-post-meta {
  text-align: inherit
}

.blog-post-grid .blog-post-meta + * {
  margin-top: 20px
}

.blog-post-grid .divider-offset-lg {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%
}

.blog-post-grid .blog-post-meta-title {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400
}

.blog-post-grid .blog-post-meta-date {
  margin-top: 0;
  transition: .3s
}

.blog-post-grid .blog-post-meta-date:hover {
  background-color: #141414;
  color: #fff
}

.blog-post-grid .blog-post-meta-title + * {
  margin-top: 10px
}

// xs
.blog-post-media + * {
  margin-top: 10px
}

@include media-breakpoint-up(sm) {
  * + .blog-post-media {
    margin-top: 0
  }
}

@include media-breakpoint-up(md) {
  * + .blog-post-media {
    margin-top: 1rem
  }
  .blog-post-media + * {
    margin-top: 20px
  }
}

.blog-post-desc {
  font-size: 14px;
}

//
// unit
// --------------------------------------------------
.unit {
  overflow: hidden;
  display: flex;
  flex: 0 1 100%;
  align-items: flex-start;
}

.unit-left {
  flex: 0 0 59px;
  width: 59px;
  overflow: hidden;
}

.unit-body {
  padding-top: 0;
  padding-left: 28px;
  width: calc(100% - 59px);
  flex: 0 0 calc(100% - 59px);
}

.blog-post-meta {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}

.blog-post-meta-date {
  flex: 0 0 40px;
  width: 40px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    flex: 0 0 59px;
    width: 59px;
  }
}

.blog-post-meta-body {
  width: calc(100% - 59px);
  flex: 0 0 calc(100% - 59px);
  padding-top: 0;
  padding-left: 12px;

  @include media-breakpoint-up(sm) {
    padding-left: 28px;
  }
}


.blog-post-meta-date {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 2px;
  border-radius: 50%;
  background-color: #7fcbc9;
  color: #fff;
  font-weight: 900;
  text-align: center;
  letter-spacing: .04em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 13px;

  @include media-breakpoint-up(sm) {
    width: 59px;
    height: 59px;
    font-size: 1rem;
  }
}

.blog-post-meta-date-big {
  display: inline-block;
  font-weight: 100;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: .04em;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    font-size: 28px;
    margin-bottom: 4px;
  }
}