// @mdi/font
@import "@mdi/font/css/materialdesignicons.min.css";

.icon {
  display: inline-block;
  font-size: 34px
}

.icon:before {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-transform: none;
}

.page .icon-white {
  color: #fff
}

.page .icon-white[href]:hover {
  color: #7fcbc9
}

.icon-gray {
  color: #888
}

.icon-gray[href]:hover {
  color: #141414
}

.icon-base {
  background-color: rgba(20, 20, 20, .9);
  color: #fff
}

.icon-base:hover {
  color: #fff;
  background-color: #7fcbc9
}

.icon-base:focus {
  color: #fff
}

.icon-circle {
  width: 78px;
  height: 78px;
  line-height: 78px;
  border-radius: 50%;
  text-align: center
}

.icon-xs {
  font-size: 16px
}

.icon-sm {
  font-size: 18px
}
