// rd-socials
.rd-navbar-socials {
  transform: translateY(-13px);
}

.rd-navbar-socials, .rd-share-socials {
  vertical-align: middle;
  display: inline-block;

  & > * {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
  }

  & > :first-child {
    margin-left: 0;
  }
}
