// rd-socials items list
.rd-navbar-socials {
  transform: translateY(-13px);
}

.rd-navbar-socials, .rd-share-socials {
  vertical-align: middle;
  display: inline-block;

  & > * {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
  }

  & > :first-child {
    margin-left: 0;
  }
}

// social share items list
.rd-share-socials {
  display: none;
}

@include media-breakpoint-up(sm) {
  .rd-share-socials {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  .rd-share-socials {
    padding-bottom: 2.25rem;
  }

  // category index list
  .d-flex .rd-share-socials {
    padding-bottom: 0 !important;
  }
}
