@import "swiper/swiper.css";

.swiper-button-prev {
  left: 20px;

  &:before {
    content: $mdi-chevron-left;
  }
}

.swiper-button-next {
  right: 20px;

  &:before {
    content: $mdi-chevron-right;
  }
}

.swiper-button-next, .swiper-button-prev {
  display: none;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  margin-top: -25px;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  color: #141414;
  transition: .3s;
  font-family: "Material Design Icons"
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #141414;
  color: #fff
}

.swiper-slide-img {
  width: 100%;
  display: block;
}

.swiper-slide-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: normal;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide-caption h2 {
  margin-top: 8px
}

@include media-breakpoint-up(sm) {
  .slide-mobile-overlay .swiper-slide-caption:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, .4);
    z-index: 1
  }

  .slide-mobile-overlay .swiper-slide-caption > * {
    z-index: 2
  }

  .slide-mobile-overlay .swiper-slide-caption, .slide-mobile-overlay .swiper-slide-caption .h1, .slide-mobile-overlay .swiper-slide-caption .h2, .slide-mobile-overlay .swiper-slide-caption .h3, .slide-mobile-overlay .swiper-slide-caption .h4, .slide-mobile-overlay .swiper-slide-caption .h5, .slide-mobile-overlay .swiper-slide-caption .h6, .slide-mobile-overlay .swiper-slide-caption h1, .slide-mobile-overlay .swiper-slide-caption h2, .slide-mobile-overlay .swiper-slide-caption h3, .slide-mobile-overlay .swiper-slide-caption h4, .slide-mobile-overlay .swiper-slide-caption h5, .slide-mobile-overlay .swiper-slide-caption h6 {
    color: #fff
  }

  .slide-mobile-overlay .swiper-slide-caption .divider-base {
    border-color: #fff
  }
}

@include media-breakpoint-up(md) {
  .swiper-slide-caption h2 {
    font-size: 40px
  }
}

@include media-breakpoint-up(xl) {
  .swiper-button-next, .swiper-button-prev {
    display: block
  }
}
